/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1.1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    background-color: #222e2e;
}

a {
    text-decoration: none;
    color: rgba(255,255,255,.8);
}

img { 
    display: block;
    width: 100%;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    line-height: 1.2em;
    letter-spacing: 1px;
    font-weight: 300;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

figure {
    margin: 0;
}

#header {
    position: fixed;
    width: 100%;
    background-color: #222e2e;
    z-index: 200;
}

.header-content { 
    position: relative;
    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
}

#header-logo {
    display: table-cell;
    letter-spacing: 3px;

}
#header-logo a{ 
  color: #fff;
  }

#header-nav {
    display:none;
}




.mobile-nav-label {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1002;
    top: 50%;
    right: 20px;
    margin-top: -8px;
    padding: 0;
    vertical-align: middle;
    line-height: 16px;
    text-align: right;
    cursor: pointer;
    user-select: none;
    color: rgba(255,255,255,.9);
    width: 22px;
    height: 22px;
}
.mobile-nav-label .top-bar, .mobile-nav-label .middle-bar, .mobile-nav-label .bottom-bar {
    width: 22px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: -webkit-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    -moz-transition: -moz-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    -ms-transition: -ms-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    -o-transition: -o-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.mobile-nav-label .middle-bar {
    -webkit-transition: opacity 0s .15s linear;
    -moz-transition: opacity 0s .15s linear;
    -ms-transition: opacity 0s .15s linear;
    -o-transition: opacity 0s .15s linear;
    transition: opacity 0s .15s linear;
    top: 7px;
}

.mobile-nav-label .bottom-bar {
    top: 14px;
}



#mobile-open {
    position: fixed;
    width: 260px;
    z-index: -1;
    top: 52px;
    right: 0;
    bottom: 0;
    height: 100%;
    line-height: 1em;
    text-align: left;
    overflow: auto;
    /*visibility: hidden;*/
    background-color: #222e2e;
    right:-260px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0s .14s linear,visibility 0s .14s linear;
    -moz-transition: height 0s .14s linear,visibility 0s .14s linear;
    -ms-transition: height 0s .14s linear,visibility 0s .14s linear;
    -o-transition: height 0s .14s linear,visibility 0s .14s linear;
    transition: height 0s .14s linear,visibility 0s .14s linear;
}
#mobile-open.activeMobile {
    right:0;
}
#mobile-open.activeMobile a{
    cursor: pointer;
}
#mobile-open.activeMobile ~ header#header .mobile-nav-label .top-bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

#mobile-open.activeMobile ~ header#header .mobile-nav-label .middle-bar {
    opacity: 0;
}

#mobile-open.activeMobile ~ header#header .mobile-nav-label .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 7px;
}

#mobile-open.activeMobile nav ul {
    margin: 0;
    padding: 0;
}

#mobile-open.activeMobile nav ul li {
    list-style: none;
    padding: 10px 20px 10px 40px;
}
#mobile-open.activeMobile nav a {
    font-size: .7em;
    color: rgba(255,255,255,.8);
    text-transform: uppercase;
    letter-spacing: 3px;
}

#mobile-open nav a:hover {
      color: rgba(255,255,255,1);
}
#mobile-open nav .drop > a:before {
    content: '+';
    padding-right: .25em;
    width: .75em;
    display: inline-block;
    font-size: 1.4em
}
#mobile-open nav .drop > a.selected:before {
    content: '-';
}
#mobile-open.activeMobile .subnav-menu ul li {
    padding: 10px 16px;
}
#mobile-open.activeMobile .subnav-menu {
    margin: 0px 0 0 -20px;
    background-color: #222e2e; 
    transform: scale(1,0);
    transform-origin: 0 0;
    transition: transform .14s 0s ease-in-out; 
    height: 0;
}

#mobile-open.activeMobile .subnav-menu.open{
    display: block;
    padding: 10px 5px 10px 20px;
    transform: scale(1,1);
    height: auto;
}
#mobile-open.activeMobile .subnav-menu .subnav {
    -webkit-transition: color .1s 0s ease-in-out;
    -moz-transition: color .1s 0s ease-in-out;
    -ms-transition: color .1s 0s ease-in-out;
    -o-transition: color .1s 0s ease-in-out;
    transition: color .1s 0s ease-in-out;
}

#content {
    background-color: #ffffff;
    position: relative;
    top: 54px;
    -webkit-transform: translatex(0px);
    -webkit-transform: translate3d(0px,0,0);
    -moz-transform: translatex(0px) translatez(0);
    -moz-transform: translate3d(0px,0,0);
    -ms-transform: translatex(0px) translatez(0);
    -ms-transform: translate3d(0px,0,0);
    -o-transform: translatex(0px) translatez(0);
    -o-transform: translate3d(0px,0,0);
    transform: translatex(0px) translatez(0);
    transform: translate3d(0px,0,0);
    transition: transform .14s 0s ease-in-out;
}

#mobile-open.activeMobile ~ div#content {
    position: fixed;
    -webkit-transform: translatex(-260px);
    -webkit-transform: translate3d(-260px,0,0);
    -moz-transform: translatex(-260px) translatez(0);
    -moz-transform: translate3d(-260px,0,0);
    -ms-transform: translatex(-260px) translatez(0);
    -ms-transform: translate3d(-260px,0,0);
    -o-transform: translatex(-260px) translatez(0);
    -o-transform: translate3d(-260px,0,0);
    transform: translatex(-260px) translatez(0);
    transform: translate3d(-260px,0,0);
}

.section-img-area {
    position: relative;
    overflow: hidden;
    min-height: 200px;
    padding: 98px 0;
}

.section-img-area .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(50,69,68,.8);
    z-index: 99;
}

.section-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.section-image img{
    min-width: 700px;
}

.text-over {
    z-index: 100;
    position: relative;
    width: 100%;
    max-width: 850px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 32px 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.text-over p {
    font-weight: 100;
    font-size: 1.6em;
    line-height: 1.2em;
    letter-spacing: 1px;
    color: #fff;
}

.section-text {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.section-text p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1em;
    color: rgba(31,37,38,.75);
}

.section-gallery {
    padding: 30px 0;
    text-align: center;

}

.gallery-content {
    max-width: 1000px;
    margin: 0 auto;
}

.gallery-item {
    min-width: 140px;
    max-width: 260px;
    display: inline-block;
    width: 46%;
    padding: 1px 2px;
    cursor: pointer;
}

.section-gallery-detail {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 300;
}

.detail-content {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    margin: 0 auto;
    background-color: rgba(0,0,0, .9);
    text-align: center;
    height: 100%;
    width: 100%;
    display: table;
}

.detail-holder {
    display: table-cell;
    vertical-align: middle;
}

.detail-image {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    right: 0;
    left: 0;
    padding: 0 20px;
    display: none;
}

.active {
    display: block;
}



.detail-close {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1002;
    top: 30px;
    right: 20px;
    margin-top: -8px;
    padding: 0;
    vertical-align: middle;
    line-height: 16px;
    text-align: right;
    cursor: pointer;
    user-select: none;
    color: rgba(255,255,255,.9);
    width: 22px;
    height: 22px;
}
.detail-close .top-bar, .detail-close .bottom-bar {
    width: 22px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.detail-close .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 7px;
}

.detail-nav {
    color: rgba(255,255,255, .9);
    font-size: 1.3em;

}

.detail-nav .forward {
    right: 4%;
    top: 50%;
    padding: 10px 20px;
    position: absolute;
    margin-top: -22px;
    z-index: 400;
    cursor: pointer;
}

.detail-nav .back {
    left: 4%;
    top: 50%;
    padding: 10px 20px;
    position: absolute;
    margin-top: -22px;
    z-index: 400;
    cursor: pointer;
}

.fixed {
    /*position: fixed;*/
    overflow: hidden;
}

.section-column {
    padding: 0px 20px 50px;
    box-sizing: border-box;
}

.col-holder {
    max-width: 1000px;
    margin: 0 auto;
}

.col {
    width: 100%;
    padding: 20px 10px;
    float: left;
    max-width: none;
    vertical-align: top;
    box-sizing: border-box;
}

.col-subhead {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.col-text {
    text-align: left;
}
.col-text p {
    color: rgba(31,37,38,.75);
}

.hide {
    display: none;
}

footer {
    background-color: #222e2e;
    color: rgba(255,255,255, .5);
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    text-align: center;
    letter-spacing: 1px; 
}
.section-map {
    padding: 0 20px 92px;

}
.map-holder {
    max-width: 1000px;
    margin: 0 auto;
    height: 480px;
    text-align: center;
}
#map {
    height: 100%;
  }

.footer-inner{
    padding: 64px 32px;
}

/* secondary page */

.listing-content {
    padding: 20px 0px;
    box-sizing: border-box;
}

.listing-content .left-sidebar {
    display: block;
    width: 100%;
    vertical-align: top;
    padding: 0 20px 10px 20px;
    box-sizing: border-box;
}
.listing-content .right-mainbar {
    display: block;
    width: 100%;

    box-sizing: border-box;
}
.listing-content .col {
    max-width: none;
    width: 100%;
}
.listing-content .section-column {
    padding: 0 20px;
}
.listing-content .section-gallery {
    padding: 20px 0 20px 0;
}

.listing-content h3 {
    margin: 5px;
    cursor: pointer;
}

.listing-content h3:before {
    content: '+';
    padding-right: .25em;
    width: .75em;
    display: inline-block;
    font-size: .8em;
    vertical-align: middle;
}
.listing-content h3.selectedListing:before {
    content: '-';
}

.listing-content ul {
    margin: 0;
    padding: 0 0 0 25px;
    transform: scale(1,0);
    transform-origin: 0 0;
    transition: transform .14s 0s ease-in-out; 
    height: 0;
}

.listing-content li {
    list-style: none;
    padding: 5px 0px;
}
.listing-content li a {
    color: rgba(31,37,38,.6);
    font-size: 1.1em;
}
.listing-content li a:hover {
    color: #1f2526;
}

.listing-content ul.open-list{
    display: block;
    transform: scale(1,1);
    height: auto;
}
.listing-content ul.open-list li {
    -webkit-transition: color .1s 0s ease-in-out;
    -moz-transition: color .1s 0s ease-in-out;
    -ms-transition: color .1s 0s ease-in-out;
    -o-transition: color .1s 0s ease-in-out;
    transition: color .1s 0s ease-in-out;
}

/* contact */

.right-mainbar form {
    max-width: 550px;
    padding:20px 0 92px;
}

.field-list .title {
    display: block;
}
.field-list .fields .field {
    width: 48%;
    float: left;
}
.field-list .field {
    position: relative;
    margin: 0 0 24px;
}
.field-list .field .caption {
    font-size: 12px;
}
.field-list .field .caption .field-element {
    font-size: 14px;
}
.field-list .fields .title,  .field-list .fields .description,  .field-list .fields .field, .field-list .fields .field-error {
    margin-left: 2%;
}
 .field-list .fields {
    margin: 0 0 0 -2%;
}
.field-list textarea {
    min-height: 100px;
    resize: vertical;
}
.field-list .field .field-element {
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
}
.button {
    color: #fff;
    background-color: #1f2526;
    border-color: #1f2526;
    text-transform: uppercase;
    padding: 12px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: .7em;
    letter-spacing: 2px;
}

.contact-content {
    padding: 20px 30px;
    box-sizing: border-box;
}

.contact-content .left-sidebar {
    display: block;
    width: 100%;
    vertical-align: top;
    padding: 0 0px 10px 0px;
    box-sizing: border-box;
}
.contact-content .right-mainbar {
    display: block;
    width: 100%;

    box-sizing: border-box;
}

.contact-content h3 {
    margin: 5px 0;
}

.contact-content p {
    margin: 0;
 
    color: rgba(31,37,38,.6);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
.text-over p {
    font-size: 2.5em;
}

.section-text {
    padding: 96px 32px;
}

.section-gallery {
    padding: 20px 20px 92px 20px;
}

.gallery-item {
    
}

.section-image img{
    min-width: 900px;
}
.col {
    width: 50%;
    max-width: 500px;
    box-sizing: border-box;
}

}


@media only screen and (min-width: 46em) {

.header-content-mobile {
    display: none;
}
.mobile-open {
    display: none;
}

.header-content { 
    padding: 0 20px;
}

#header-nav {
    display: table-cell;
    text-align: right;
    padding: 30px 0;
}
#header-nav nav a {
    font-size: .7em;
    color: rgba(255,255,255,.8);
    text-transform: uppercase;
    letter-spacing: 3px;
}
nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

#header-nav nav a:hover {
      color: rgba(255,255,255,1);
}

.subnav-menu {
    position: absolute;
    margin: -5px 0 0 -20px;
    padding: 10px 20px;
    background-color: #222e2e;
    text-align: left;
    transform: scale(1,0);
    transform-origin: 0 0;
    transition: transform .14s 0s ease-in-out;  
}

#header-nav nav a:hover + div.subnav-menu, div.subnav-menu:hover {
    transform: scale(1,1);
}
div.subnav-menu .subnav {
    -webkit-transition: color .1s 0s ease-in-out;
    -moz-transition: color .1s 0s ease-in-out;
    -ms-transition: color .1s 0s ease-in-out;
    -o-transition: color .1s 0s ease-in-out;
    transition: color .1s 0s ease-in-out;
}

.subnav-menu li {
    display: block;
    padding: 5px 0;
}

#mobile-open, #mobile-open.activeMobile {
    right: -260px;
}

#content, #mobile-open.activeMobile ~ div#content {
    position: relative;
    top: 82px;
    -webkit-transform: translatex(0px);
    -webkit-transform: translate3d(0px,0,0);
    -moz-transform: translatex(0px) translatez(0);
    -moz-transform: translate3d(0px,0,0);
    -ms-transform: translatex(0px) translatez(0);
    -ms-transform: translate3d(0px,0,0);
    -o-transform: translatex(0px) translatez(0);
    -o-transform: translate3d(0px,0,0);
    transform: translatex(0px) translatez(0);
    transform: translate3d(0px,0,0);
}

.text-over p {
    font-size: 3.6em;
}

.section-text {
    padding: 96px 32px;
}

.section-gallery {
    padding: 20px 20px 92px 20px;
}
.gallery-item {
    width: 23%;
}
.col {
    width: 50%;
    max-width: 500px;
    box-sizing: border-box;
}
.footer-inner{
    padding: 24px 32px;
}

/* secondary page */

.listing-content {
    padding: 92px 20px 0;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}


.listing-content .left-sidebar {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    padding: 0 20px 0 0px;
    box-sizing: border-box;
}
.listing-content .right-mainbar {
    display: inline-block;
    width: 75%;
    max-width: 700px;
    box-sizing: border-box;
}

.listing-content .section-column {
    
    padding: 0 0 50px 0;
}
.listing-content .section-gallery {
    padding: 20px 0 92px 0;
}

.listing-content h3:before {
    content: '';
}
.listing-content h3.selectedListing:before {
    content: '';
}

.listing-content ul {
    display: block;
    transform: scale(1,1);
    height
}

.contact-content {
    padding: 92px 20px 0;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.contact-content .left-sidebar {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    padding: 0 30px 0 0px;
    box-sizing: border-box;
}
.contact-content .right-mainbar {
    display: inline-block;
    width: 75%;
    max-width: 700px;
    box-sizing: border-box;
}



@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
